.text-blue{
    color: #3DCBB1 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#3DCBB1;
    background-color: #fff;
    border: 1px solid #d9d9Fd;
}
.btn-color{
    background-color: #3DCBB1;
}